
/* Universal Conditions */
body {

  font-family: 'Noto Sans', sans-serif;
}

/* header section background */
.header-section-bg {

  background-image: url(../images/3089023.jpg);
  background-repeat: no-repeat;
  min-height: 90vh;
  position: relative;
}

/* first section */
.first-section-text {

  padding-top: 22vh;
}

/* search destination */
.search-nav-section {

  background-color: #FFF;
  border-radius: 6px;
  position: relative;
  top: 210px;
  z-index: 1000;
  box-shadow: 0px 6px 20px 0px #00000042;
}

/* search input */
.search-input {

  height: 12vh;
  text-align: center;
}

/* search input text */
.search-input p {

  line-height: 12vh;
  font-size: 14px;
  font-weight: 600;
}

/* search input submit button */
.search-input-submit p {

  background-color: #8ddfc7;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* wave ending */
.curve-svg svg {

  position: absolute;
  bottom: 0;
}
