
.selector-for-some-widget {

  box-sizing: content-box;
}

body {

  font-family: 'Outfit', sans-serif;
}

.container-fluid {

  padding-left: 10vw;
  padding-right: 10vw;
}

.intro-section {

  min-height: 66vh;
  background-image: url('../images/travel.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.intro-section h1 {

  font-size: 50px;
  font-weight: 800;
}

.resort-title {

  color: #ddd80d;
}

.intro-card {

  height: 100%;
  margin-top: -15vh;
  background-color: white;
  border: solid 1px #77789961;
  border-radius: 10px;
}

.stay-duration {

  margin-top: 20px;
}

.facility-icon {

  border: solid 1px #77789961;
  width: 50px;
  height: 50px;
  border-radius: 16px;
}

.facility-icon i {

  font-size: 18px;
  margin: auto;
  display: table;
  margin-top: 15px;
}

.search-bar {

  margin-bottom: 12px;
}

.search-section button {

  background: 0;
  border: 0;
  color: blue;
  font-size: 20px;
  margin-top: -8px;
  float: right;
}

.search-section button:hover {

  background: 0;
  border: 0;
  color: blue;
  font-size: 20px;
}

.text-end {

  text-align: end;
}

.hotel-price-button {

  border: solid 1px #77789961;
  width: 70%;
  height: 40px;
  border-radius: 6px;
}

.rate-icon {

  border-radius: 50%;
  background-color: #494dd5;
  position: relative;
  margin: auto;
}

.rate-icon i {

  color: white;
  position: absolute;
  margin: 2px;
}

.rate-text {

  font-size: 12px;
}

.search-icons {

  margin-top: 10%;
}

.search-icons img {

  border-radius: 50%;
}

.heading-more-options {

  font-size: 50px;
  font-weight: 500;
}

.cards-more-option .card {

  width: 22vw;
  border-radius: 12px;
}

.region {

  width: 60px;
  height: 60px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-top: 14px;
}

.region img {

  margin-left: 14px;
  margin-top: 10px;
}

.region p {

  font-size: 12px;
}

.more-options .card-sub-text {

  font-weight: 600;
  color: #e55959;
}

.more-options .card-text {

  font-size: 12px;
  color: grey;
}

.card-img-top {

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.cards-more-option .slide-view {

  display: none;
}

.base-more-option {

  background-color: #d4ecef6b;
  border-radius: 16px;
  position: relative;
  top: -20vh;
  z-index: -1;
  height: 26vh;
  margin-bottom: -6vh;
}

.base-more-details {

  background-color: #d4ecef6b;
  border-radius: 16px;
  position: relative;
  top: -16vh;
  z-index: -1;
  height: 26vh;
  margin-bottom: -14vh;
}

.resort-details {

  position: absolute;
}

.resort-details p {

  margin: 14px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.resort-special {

  border: 1px #03a9f49c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #03a9f49c;
}

.resort-special i {

  font-size: 24px;
  position: absolute;
  color: #0336f4;
  top: 12px;
  left: 28px;
}

.resort-special-text {

  margin-top: 12px;
  font-weight: 400;
}

.resort-detail-area {

  margin-top: 80px;
  margin-bottom: 100px;
}

.resort-detail-extent {

  height: 300px;
  width: 90%;
  border-radius: 10px;
  background-image: url('../images/treatment_room.jpg');
  background-size: cover;
}

.resort-detail-extent img {

  width: 180px;
  margin: auto;
  border-radius: 10px;
}

.extent-below {

  margin-top: 100px;
}

.top-airline-image {

  position: absolute;
  bottom: -78px;
}

.top-airline-image img {

  width: 340px;
}

.airline-logo {

  border-radius: 50%;
}

.more-detail-img {

  width: 80%;
  display: block;
  margin: auto;
  border: 4px solid white;
  border-radius: 12px;
}

.carousel-inner img {

  border-radius: 12px;
}

.carousel-indicators {

  bottom: -54px;
}

.carousel-indicators img {

  border-radius: 50%;
}

.carousel-indicators li {

  text-indent: 0;
  box-sizing: border-box;
}

.top-airline-details {

  background-color: #d4ecef6b;
  height: 48vh;
}

.top-airline-details .jumbotron {

  position: relative;
  min-height: 36vh;
  max-height: 100%;
  top: 32px;
  background: white;
  border-radius: 20px;
}

.brand-description {

  margin-top: 24px;
  margin-bottom: 40px;
}

.social-media i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.7em;
}

.line-of-control {

  width: 100%;
  color: gray;
}

.rights-text {

  text-align: center;
}

@media screen and (max-width: 992px) {

  .facilities-details {

    margin-bottom: 30px;
  }
}

@media screen and (max-width: 938px) {

  .top-airline-details {

    height: 58vh;
  }
}

@media screen and (max-width: 860px) {

  .cards-more-option .normal-view {

    display: none;
  }

  .cards-more-option .slide-view {

    display: block;
  }

  .cards-more-option .card {

    width: 44vw;
  }

  .slide-view .carousel-inner img {

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 768px) {

  .facility-selection {

    margin-bottom: 20px;
  }

  .intro-card {

    margin-top: -24vh;
  }

  .more-detail-img {

    margin-top: 44px;
  }

  .resort-detail-area {

    margin-bottom: 0;
  }

  .top-airline-details {

    height: 64vh;
  }

  .top-airline-image {

    right: -6px;
  }

  .top-airline-image img {

    width: 300px;
  }
}

@media screen and (max-width: 650px) {

  .top-airline-image img {

    width: 260px;
  }
}

@media screen and (max-width: 600px) {

  .first-area {

    padding: 0;
  }

  .first-area .intro-section {

    border-radius: 0;
  }

  .first-area .intro-card {

    margin-left: 24px !important;
    margin-right: 24px !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .heading-more-options {

    font-size: 36px;
  }

  .search-icons img {

    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 576px) {

  .top-airline-details {

    height: 56vh;
  }
}

@media screen and (max-width: 500px) {

  .top-airline-image {

    right: -4px;
    bottom: -40px;
  }

  .cards-more-option .card {

    width: 64vw;
  }

  .top-airline-image img {

    width: 220px;
  }

  .top-airline-details {

    height: 56vh;
  }
}

@media screen and (max-width: 460px) {

  .top-airline-image {

    right: -12px;
    bottom: -40px;
  }

  .top-airline-details .jumbotron {

    top: 20px;
  }

  .top-airline-image img {

    width: 180px;
  }
}

@media screen and (max-width: 460px) {

  .top-airline-image {

    right: -34px;
  }

  .top-airline-details .jumbotron {

    top: 18px;
  }
}

@media screen and (max-width: 380px) {

  .top-airline-details {

    height: 66vh;
  }

  .top-airline-details .jumbotron {

    top: 16px;
  }

  .top-airline-image img {

    /* display: none; */
  }
}

@media screen and (max-width: 380px) {

  .intro-card {

    margin-top: -10vh;
  }

  .top-airline-details {

    height: 56vh;
  }

  .top-airline-details .jumbotron {

    top: 16px;
  }

  .top-airline-image img {

    /* display: none; */
  }
}

@media screen and (max-width: 360px) {

  .top-airline-details {

    height: 76vh;
  }

  .top-airline-details .jumbotron {

    top: 16px;
  }

  .top-airline-image img {

    display: none;
  }
}

@media screen and (max-width: 320px) {

  .intro-card {

    margin-top: 6vh;
  }

  .top-airline-details {

    height: 56vh;
  }

  .top-airline-details .jumbotron {

    top: 16px;
  }

  .top-airline-image img {

    /* display: none; */
  }
}
